<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>Controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestViewController</servlet-name>
        <servlet-class>Controller.RequestViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestManagerController</servlet-name>
        <servlet-class>Controller.RequestManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRequest</servlet-name>
        <servlet-class>Controller.DetailRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequest</servlet-name>
        <servlet-class>Controller.DeleteRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRequest</servlet-name>
        <servlet-class>Controller.EditRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestViewManagement</servlet-name>
        <servlet-class>Controller.RequestViewManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaController</servlet-name>
        <servlet-class>Controller.AgendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestViewController</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestManagerController</servlet-name>
        <url-pattern>/Management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRequest</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequest</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRequest</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestViewManagement</servlet-name>
        <url-pattern>/ViewManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaController</servlet-name>
        <url-pattern>/Agenda</url-pattern>
    </servlet-mapping>
</web-app>
